<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <h1 style="text-align: center; font-family: 'Apercu';">{% block title %}Sophie's Never-Ending Project Showcase{% endblock %}</h1>
    </head>
    <body >
        <h2>Current Projects</h2>
        <ul>
        {% for project in projects %} 
            {%if project.completion_status == 'in-progress' %}
          <h3>{{ project.name}}</h3>
          <li>
            {{project.category}}
          </li>
          <li>
            {{project.description}}
          </li>
          <li>
            {{project.inspiration}}
          </li>
          {% endif %}
        {% endfor %}
        </ul>
        <h2>Future Projects</h2>
        <ul>
          {% for project in projects %}
            {% if project.completion_status == 'future' %}
            <h3>{{ project.name}}</h3>
            <li>
              {{project.category}}
            </li>
            <li>
              {{project.description}}
            </li>
            <li>
              {{project.inspiration}}
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        <h2>Completed Projects</h2>
        <ul>
          {% for project in projects %}
            {% if project.completion_status == 'completed' %}
            <h3>{{ project.name}}</h3>
            <li>
              {{project.category}}
            </li>
            <li>
              {{project.description}}
            </li>
            <li>
              {{project.inspiration}}
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </body>
</html>